body {
    background: #000900;
    user-select: none;
}

h1, h2, h3 {
    color: #FFF;
    text-align: center;
}

a {
    color: aqua;
}

#wrapper {
    position: relative;
}

#gamecontainer {
    width: 1024px;
    height: 568px;
    background-color: #FFF;
    background: url("../images/backgrounds/background.png");

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;


}


.buttons img {
    width: 80px;
    height: 80px;
    top: 470px;
    position: relative;
}

canvas {
    position: absolute;
}